node_modules/
.env
*.log
.DS_Store
dist/
build/
tx-tool/
*.pdf
.vscode/
.idea/
.token-id
*.token
keys/
*.key
wallets/*
!wallets/0b1e9582a1d80f407d592e74a356b60a.json
tokens/*
!tokens/a16a2dc6-0038-4c20-87fb-78e304704d4e.json
test-tokens/
test-keys/
coverage/
*.test.js.map
*.lcov